@{
    ViewData["Title"] = "Inicio";

}


<div class="text-center">
    <h1 class="display-4">Mapa del Parque</h1>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    <div>
        <label class="align-items-md-center">
            <a href="https://localhost:44332/api/Mapa/">Ver mapa</a>
        </label>
    </div>

    <h1 class="display-4">Usuarios</h1>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    <div>
        <label class="align-items-md-center">
            <a href="https://localhost:44332/api/PerfilPersonal/">Ver usuarios</a>
        </label>
    </div>
</div>
